body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.home{
    font-size: 30px;
    color: white;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size:16px;
    text-transform: uppercase;
}
.titlebg{
    width: 100%;
    height : 910px;
    background: url(../img/bg.png) 100% center no-repeat fixed;
}
.title{
    float: left;
    margin:423px 0px 0px 404px;
    color:#cccccc;
    text-align: center;
}
.title h1{
    font-size: 35px;
    font-weight: bold;
}
.title h2{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}
.title input{
    height: 40px;
    text-align: center;
    border: 5px solid white;
    border-radius: 5px;
    padding: 0px 16px;
    margin: 40px 14px 0px 14px;
    background-color: #cccccc;
}
.abtmyself{
    height: 720px;
    width: 100%;
}
.abtmyself img{
    display: block;
    border: 2px black solid;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 170px;
}
.abtmyself h2{
    line-height: 110px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.infoabtme{
    text-align: center;
    font-size: 15px;
}
.skills{
    background: url(../img/skillsBG.png) center no-repeat;
}
.skills_container{
    height: 555px;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 96px;
}
.skills_container h2{
    line-height: 115px;
    text-align: center;
    font-size: 30px;
}
.skills_container div{
    float: left;
    width: 200px;
    text-align: center;
    margin: 70px 36px 0px 36px;
}
.skills_container h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 20px 20px 20px;
}
.skills_container img{
    width: 100px;
    height: 100px;
}
.case{
    height: 1000px;
}
.case h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
}
.case_container{
    margin: 0 auto;
    width: 1000px;
}
.case_container img{
    width: 100%;
}
.client_website{
    width: 150px;
    float: left;
}
.client_website h3{
    font-size: 20px;
}
.client_website p{
    font-size: 15px;
    margin: 15px 0px;
}
.client_website a{
    text-align: center;
    margin-top: 25px;
    display: block;
    line-height: 40px;
    height: 40px;
    background: #63b5ae;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.projectinfo{
    margin: 0px 0px 0px 235px;
}
.projectinfo h3{
    font-size: 20px;
}
.projectinfo p{
    font-size: 15px;
    margin: 15px 0px;
}
.cost{
    width: 1100px;
    height: 900px;
    margin: 0px auto;
    text-align: center;
}
.cost h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 65px 0px;
}
.cost p{
    margin: 30px 0px;
}
.cost select{
    margin-bottom: 20px;
}
.cost hr{
    width: 100%;
    height: 2px;
    border: 2px;
}
.costResult .time .price{
    font-size: 20px;
    margin-bottom: 20px;
}
.costResult .info{
    float: left;
    font-size: 20px;
}
.costResult .number{
    float: right;
    font-size: 25px;
}
.cost .typeSite{
    display: block;
    width: 100%;  
    height: 54px;
    background: rgba(210, 214, 220, 0.93);
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
}
.stat{
    background: url(../img/statbg.png) no-repeat center;
}
.stat_container{
    width: 1100px;
    height: 460px;
    margin: 0 auto;
}
.stat_container h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.stat_container section{
    float: left;
    width: 200px;
    text-align: center;
    margin: 70px 36px 0px 36px;
}
.stat_container img{
    width: 120px;
    height: 120px;
    margin: 10px 50px;
}
.stat_container h3{
    font-size: 15px;
    font-weight: bold;
}
.reviews h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 30px;
}
.reviews_container{
    width: 100%;
    height: 500px;
}
.reviews_container{
    text-align: center;
}
.reviewtext{
    margin: 20px auto 50px auto;
    font-size: 20px;
}
.reviewerName{
    font-size: 20px;

}
.reviews_container img{
    display: block;
    border: 2px black solid;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 170px;
}
.contact{
    background: url(../img/contactBG.png) center no-repeat;
    color: white;
}
.contact_container{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 68px;
}
.myContacts{
    width: 100%;
    height: 300px;
}
.myContacts section{
    float: left;
    width: 100px;
    height: 100px;
    margin: 50px 100px 50px 0px;
}
.myContacts section h3{
    margin: 0px 0px 0px 70px;
}
.myContacts section p{
    margin: 0px 0px 0px 70px;
}
.message{
    width: 100%;
    height: 300px;
}
.messageInputs input{
    display: block;
    width: 352px;
    float: left;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}
.messageInputs .secondbutton{
    float: right;
}
.message textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}
.message .submitbutton{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 70px;
    background: none;
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 120px;
    font-size: 18px;
}
.contact_container h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.contact_container img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 50px;
}
footer{
    width: 100%;
    height: 50px;
    background: #344051;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0px;
}
