body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.home{
    font-size: 30px;
    color: white;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size:16px;
    text-transform: uppercase;
}
.titlebg{
    width: 100%;
    height : 910px;
    background: url(/img/bg.png) 100% center no-repeat fixed;
}
.title{
    float: left;
    margin:423px 0px 0px 404px;
    color:#cccccc;
    text-align: center;
}
.title h1{
    font-size: 35px;
    font-weight: bold;
}
.title h2{
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}
.title input{
    height: 40px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 16px;
    margin: 40px 14px 0px 14px;
    background-color: #cccccc;
}
.abtmyself{
    height: 720px;
    width: 100%;
}
.abtmyself h2{
    line-height: 110px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.infoabtme{
    text-align: center;
    font-size: 15px;
}
.skills{
    width: 100%;
    height: 555px;
    background: url(/img/skillsBG.png) center no-repeat;
}
.skills h2{
    line-height: 115px;
    text-align: center;
    font-size: 30px;
}
.skills div{
    float: left;
    text-align: center;
    margin: 100px 40px 0px 40px;
}
.skills h3{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 20px 20px 20px;
}
.skills img{
    width: 100px;
    height: 100px;
}
.case{
    width: 100%;
    height: 1000px;
}
.case h2{
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}
.cost{
    width: 100%;
    height: 900px;
}
.cost h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 65px 0px;
}
.cost{
    text-align: center;
}
.cost p{
    margin: 30px 0px;
}


.stat{
    width: 100%;
    height: 460px;
    background: url(/img/statbg.png) no-repeat center;
}
.stat h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.stat section{
    float: left;
}
.stat img{
    width: 120px;
    height: 120px;
    margin: 10px 50px;
}
.stat h3{
    font-size: 15px;
    font-weight: bold;
}


.reviews{
    width: 100%;
    height: 500px;
}
.reviews h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.contact{
    width: 100%;
    height: 600px;
    background: url(/img/contactBG.png) center no-repeat;
    color: white;
}
.myContacts{
    width: 100%;
    height: 300px;
}
.message{
    width: 100%;
    height: 300px;
}
.contact h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.contact img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 50px;
}
footer{
    width: 100%;
    height: 50px;
    background: #344051;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0px;
}
